　　 <%= render 'books/list',user: @user,book: @books %>
      <div class="col-md-8 offset-md-1">
      <h2>Book detailt</h2>
     <table class="table">
        <thead>

        <tbody>
        <tr>
        <td>

        <%= link_to user_path(@user.id) do %>
         <%= attachment_image_tag(@user,:profile_image, format: 'jpeg', fallback: "no_image_user.jpg", size: "40x40") %>
         <%= "#{@user.name}" %>
         <% end %>
         </td>

        <td><%= link_to "#{@book.title}", "/books/#{@book.id}" %> </td>

        <td><%= @book.body %></td>
        <% if user_signed_in? && current_user.id == @book.user_id %>
        <td><%= link_to "Edit",edit_book_path(@book.id),{class:"btn btn-sm btn-success"} %></td>

         <td><%= link_to "Destroy","/books/#{@book.id}",method: :delete, data:{confirm:"本当に消しますか？"},class:"btn btn-sm btn-danger" %></td>
         <% end %>



        </tr>
        </tbody>
      </table>

       </div>
      </div>
    </div>





